
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse" >
  <div class="container-fluid" >
    <div class="collapse navbar-collapse" id="myNavbar" >
        <img src = "/src/resources/icono-parking.png" style="height: 50px; width: 50px;" >
      <ul class="nav navbar-nav" >
        <li class="active"><a href="#">Parqueadero</a></li>
      </ul>     
    </div>
  </div>
</nav>
<div style="top:auto; left: auto; height: auto; position: relative;">  
<div  class="container-fluid text-center " id="acordion"  >    
  <div class="row content "  >
    <div class="col-sm-2 sidenav "  >
      
        <mat-chip-list>
            <mat-chip routerLink="/gestionVehiculosComponent">Ingreso y salida de vehiculos</mat-chip>
        </mat-chip-list>
        
        <mat-chip-list>
            <mat-chip routerLink="/parqueaderoComponent">Vehiculos parqueados</mat-chip>
        </mat-chip-list>
  
</div>
    
    <div class="col-sm-8 text-left scrollable" style="top:auto; left: auto; height: auto; position: relative;" > 
        <router-outlet></router-outlet>
    </div>
    
    <div class="col-sm-2 sidenav" style="left: auto; height: auto; ">
      <h4>Disponibilidad</h4>
      <div  class="well">
        <label>Carros:  {{disponibilidad.carros}}</label>
      </div>
      <div  class="well">
          <label>Motos: {{disponibilidad.motos}}</label>
        </div>        
        <h4>Grafica</h4>
      <div  class="well">
        <app-grafica></app-grafica>
      </div> 
    </div>
  </div>
    <footer >
      <img src = "/src/resources/senal-parqueadero.PNG" style=" width:100; height: 1000;" >
    </footer>
  </div>
</div>
</body>
</html>



