.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    position: relative;
    margin: 0 auto 0 auto;

  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 646px;}
  
  /* Set gray background color and 100% height */
  .sidenav {
    position: relative;
    margin: 0 auto 0 auto;
    padding-top: 50px;
    background-color: #f1f1f1;
    width: auto;
    height: auto;
  }

  /* Set black background color, white text and some padding */
  footer {
    position: absolute;
    text-align: center;
    margin: 0 auto 0 auto;
    background-color: #555;
    color: white;
    padding:2px; 
    width: 100%;
    left: 0%;
    height: auto;
    top: auto
  };
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 800px) {
    .sidenav {
      position: relative;
      margin: 0 auto 0 auto;
      width: auto;
      height: auto;
      padding: 15px;
      padding-top: 15px;
    }
    .row.content {height:auto;} 
  }
 
 p{
   margin: 5%;
   text-align: left;
   font-size: auto;
 }
 div.scrollable {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}