<h1 align="center" >Carros parqueados</h1>
        <div ali="padding-top: 25px" style="padding: 35px" >
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Placa</th>
                    <th scope="col">Cilindraje</th>
                    <th scope="col">Tipo de vehiculo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let carro of carrosParqueados">
                    <td>{{carro.placa}}</td>
                    <td>{{carro.cilindraje}}</td>
                    <td>Carro</td>
                  </tr>
                </tbody>
              </table>
        </div>

        <h1 align="center" >Motos parqueados</h1>
        <div ali="padding-top: 25px" style="padding: 35px;"  >
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Placa</th>
                    <th scope="col">Cilindraje</th>
                    <th scope="col">Tipo de vehiculo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let moto of motosParqueadas">
                    <td>{{moto.placa}}</td>
                    <td>{{moto.cilindraje}}</td>
                    <td>Moto</td>
                  </tr>
                </tbody>
              </table>
        </div>
